@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #684bb1;
  /* height: 100vh; */
}

.card {
  width: 375px;
  height: 800px;
  border: 1px solid white;
}

.logo {
  width: 120px;
  height: 19px;
}

.illustration {
  width: 296px;
  height: 209px;
}

.header {
  /* width: 280px;
  height: 72px; */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
}

.text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px; 
  text-align: center;
  color: #ffffff;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 40px;
  background: #ffffff;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.269022);
  border-radius: 20px;
  margin-top: 16px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #684bb1;
}

.button:hover {
  background-color: #E880E8;;
  cursor: pointer;
  color: #ffffff;
}


